.btn {
    background-color: aqua;
    border-style: double ;
    border-width: 10px;
    border-color:black;
    padding: 10px;
    border-radius: 20px 20px;

}

.reg {
    background-color: rgb(255, 0, 144);
    border: 20px solid;
    border-width: 2px;
    border-color:black;
    border-radius: solid;
    padding: 10px;

}
.btn {
    background-color: aqua;
    border-style: double ;
    border-width: 10px;
    border-color:black;
    padding: 10px;
    border-radius: 20px 20px;

}
.reg {
    background-color: rgb(255, 0, 144);
    border: 20px solid;
    border-width: 2px;
    border-color:black;
    border-radius: solid;
    padding: 10px;

}
.sgn {
    background-color: rgb(255, 89, 0);
    border-style:dashed  ;
    border-width: 2px;
    border-color:black;
    border-radius: 0 20px 0 20px;
    padding: 10px;

}

.pay {
    background-color: rgb(191, 255, 0);
    border-style:;
    border-width: 2px;
    border-color:black;
    border-radius: 50%;
    padding: 10px;
    
}