.btn {
    background-color: aqua;
    border-style: double ;
    border-width: 10px;
    border-color:black;
    padding: 10px;
    border-radius: 20px 20px;

}

.reg {
    background-color: rgb(255, 0, 144);
    border: 20px solid;
    border-width: 2px;
    border-color:black;
    border-radius: solid;
    padding: 10px;

}
